<%= render "header" %>

<div class="container-fluid d-flex flex-column">
  <div class="row justify-content-center">
    <ul class="nav nav-pills mb-3 justify-content-center"
        id="pills-tab"
        role="tablist"
        style="background-color: #a1887f">
      <li class="nav-item"
          role="presentation">
        <button class="nav-link active"
                id="pills-new-arrivals-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-new-arrivals"
                type="button"
                role="tab"
                aria-controls="pills-new-arrivals"
                aria-selected="true">
          新着
        </button>
      </li>
      <li class="nav-item"
          role="presentation">
        <button class="nav-link"
                id="pills-daily-ranking-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-daily-ranking"
                type="button"
                role="tab"
                aria-controls="pills-daily-ranking"
                aria-selected="false">
          デイリーランキング
        </button>
      </li>
      <li class="nav-item"
          role="presentation">
        <button class="nav-link"
                id="pills-weekly-ranking-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-weekly-ranking"
                type="button"
                role="tab"
                aria-controls="pills-weekly-ranking"
                aria-selected="false">
          週間ランキング
        </button>
      </li>
      <li class="nav-item"
          role="presentation">
        <button class="nav-link"
                id="pills-monthly-ranking-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-monthly-ranking"
                type="button"
                role="tab"
                aria-controls="pills-monthly-ranking"
                aria-selected="false">
          月間ランキング
        </button>
      </li>
    </ul>
    <div class="container tab-content mb-5"
         id="pills-tabContent">
      <%= render "new_articles" %>
      <%= render "daily_ranking" %>
      <%= render "weekly_ranking" %>
      <%= render "monthly_ranking" %>
    </div>
  </div>

  <div class="container">
    <div class="row g-5 mb-5">
      <% @media.all.each do |medium| %>
      <div class="col-xs-12 col-lg-6">
        <%= render "specific_media_articles", media_id: medium.id %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "footer" %>