<%= render "header" %>

<div class="container-fluid d-flex flex-column">
  <div class="row justify-content-center">
    <ul class="nav nav-pills mb-3 justify-content-center"
        id="pills-tab"
        role="tablist"
        style="background-color: #a1887f">
      <li class="nav-item"
          role="presentation">
        <button class="nav-link active"
                id="pills-new-arrivals-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-new-arrivals"
                type="button"
                role="tab"
                aria-controls="pills-new-arrivals"
                aria-selected="true">
          新着
        </button>
      </li>
      <li class="nav-item"
          role="presentation">
        <button class="nav-link"
                id="pills-daily-ranking-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-daily-ranking"
                type="button"
                role="tab"
                aria-controls="pills-daily-ranking"
                aria-selected="false">
          デイリーランキング
        </button>
      </li>
      <li class="nav-item"
          role="presentation">
        <button class="nav-link"
                id="pills-weekly-ranking-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-weekly-ranking"
                type="button"
                role="tab"
                aria-controls="pills-weekly-ranking"
                aria-selected="false">
          週間ランキング
        </button>
      </li>
      <li class="nav-item"
          role="presentation">
        <button class="nav-link"
                id="pills-monthly-ranking-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-monthly-ranking"
                type="button"
                role="tab"
                aria-controls="pills-monthly-ranking"
                aria-selected="false">
          月間ランキング
        </button>
      </li>
    </ul>
    <div class="tab-content w-75"
         id="pills-tabContent">
      <%= render "new_articles" %>
      <%= render "daily_ranking" %>
      <%= render "weekly_ranking" %>
      <%= render "monthly_ranking" %>
    </div>
  </div>

  <div class="row">
    <div class="row">
      <div class="col">
        <%= @media.find(1).name %>
        <%= render "specific_media_articles", media_id: 1 %>
      </div>
      <div class="col">
        <%= @media.find(2).name %>
        <%= render "specific_media_articles", media_id: 2 %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= @media.find(3).name %>
        <%= render "specific_media_articles", media_id: 3 %>
      </div>
      <div class="col">
        <%= @media.find(4).name %>
        <%= render "specific_media_articles", media_id: 4 %>
      </div>
    </div>

  </div>
</div>

<footer class="footer">
  <div class="container d-flex flex-column align-items-center">
    <%= link_to image_tag("TwitterIcon.png"), "https://twitter.com/hirokimry", target: :_blank %>
    <%= link_to image_tag("GitHubIcon.png"), "https://github.com/hirokimry", target: :_blank %>
    <%= link_to image_tag("LinkIcon.png"), "https://hirokimoriya.com/", target: :_blank %>
    <p class="text-muted">
      Copyright © 2022 Hiroki Moriya All rights reserved.
    </p>
  </div>
</footer>