<div id="<%= dom_id article %>">
  <p>
    <strong>Medium:</strong>
    <%= article.medium_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= article.url %>
  </p>

  <p>
    <strong>Image path:</strong>
    <%= article.image_path %>
  </p>

  <p>
    <strong>Publication date:</strong>
    <%= article.publication_date %>
  </p>

  <p>
    <strong>Access count:</strong>
    <%= article.access_count %>
  </p>

</div>
