<div id="<%= dom_id article %>">
  <p>
    <strong>Article:</strong>
    <%= article.article_id %>
  </p>

  <p>
    <strong>Media:</strong>
    <%= article.medium_id %>
  </p>

  <p>
    <strong>Article title:</strong>
    <%= article.article_title %>
  </p>

  <p>
    <strong>Article url:</strong>
    <%= article.article_url %>
  </p>

  <p>
    <strong>Article image path:</strong>
    <%= article.article_image_path %>
  </p>

  <p>
    <strong>Article update datetime:</strong>
    <%= article.article_update_datetime %>
  </p>

  <p>
    <strong>Article access num:</strong>
    <%= article.article_access_num %>
  </p>

</div>