<div id="<%= dom_id medium %>">
  <p>
    <strong>Name:</strong>
    <%= medium.name %>
  </p>

  <p>
    <strong>Top url:</strong>
    <%= medium.top_url %>
  </p>

  <p>
    <strong>Rss url:</strong>
    <%= medium.rss_url %>
  </p>

  <p>
    <strong>Icon path:</strong>
    <%= medium.icon_path %>
  </p>

</div>
