<div id="<%= dom_id medium %>">
  <p>
    <strong>Media:</strong>
    <%= medium.media_id %>
  </p>

  <p>
    <strong>Media name:</strong>
    <%= medium.media_name %>
  </p>

  <p>
    <strong>Media top url:</strong>
    <%= medium.media_top_url %>
  </p>

  <p>
    <strong>Media icon path:</strong>
    <%= medium.media_icon_path %>
  </p>

</div>
